@charset "UTF-8";


body{
   
    margin-top: 0px;
    
}
.conteudo{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
   
}
header{
  
    align-items: center;
    display: flex;
    background-color: black;
}
.logo{
    padding: 10px;
    margin: 0px 80px;
    height: 200px;
    width: 350px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    padding: 10%;
}

.bt1{
  
    padding: 0px 30px;
}

a.botao{
        border-radius: 8px;
        background-color: rgb(224, 40, 141);
        color: #ffffff;
        text-decoration: none;
        padding: 12px;
        font-weight: bolder;
        transition: 0.5s;
    
}

a.botao:hover{
    background-color: rgb(10, 96, 125);
}