@charset "UTF-8";


body{
 
   
    margin-top: 0px;
    
}
.conteudo{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
   
   
}
header{
  
    align-items: center;
    display: flex;
    background-color: rgb(0, 0, 0);
}

.logo{
    max-width: 100%;
}

h1{
 text-align: center;
 font-size: 2em;
 color: #390A7B;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.redes{
   
    max-width: 5%;
    border-radius: 5px 15px;
   
  
}
.contato{
    display: inline-block;
}

.contato>a{
   
   
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    
}

.contato>a:hover{
   color: rgb(167, 3, 76);
   
}

   .inf{
    font-weight: bolder;
    color: #390A7B;
   }


